@media (max-width: 786px) {
  section::before {
    width: 500px;
    height: 500px;
    top: -50%;
    left: -70%;}
  section::after {
    width: 500px;
    height: 500px;
    bottom: -50%;
    right: -70%;}
    .card {
      width: 270px;
      height: 360px;
    }
    .friands {
      padding-top: 15px;
      margin-top: 25px;
    }
}